<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-lg-6">
            <img src="./../../../../assets/download.jpeg" class="img-fluid" alt="" style="height: 450px;">
        </div>

        <div class="col-lg-6 mt-3" style="background-color: rgb(228, 228, 228); border-radius: 10px">
            <h4>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius porro quos recusandae beatae odio
                praesentium, facere qui possimus dolor nisi ab veritatis deleniti cum molestias, vero necessitatibus sit
                architecto quaerat?
            </h4>
        </div>
    </div>
    <div class="col-12"></div>
    <div class="12 mt-4 " style="background-color: rgb(228, 228, 228); border-radius: 10px; padding:20px ;">
        <h5>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum error, rerum quas iusto hic illum earum
            quae odit fuga totam expedita tenetur laboriosam adipisci assumenda quaerat commodi corrupti perspiciatis
            quidem?s
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, quasi? Dignissimos optio atque, pariatur
            sint possimus consequuntur illum iste perferendis ipsum rerum delectus officia suscipit laboriosam quod
            eaque! Hic, sed!
        </h5>
    </div>




    <div class="container-fluid mt-5">
        <h1 class="bg-danger text-white" style="  padding-left: 10px; margin:10px; height: 50px; border-radius: 10px;">
            Latest NEWS
        </h1>

        <owl-carousel-o [options]="customOptions">

            <ng-template carouselSlide>
                <div class="image-container1">

                    <img class="image-hight" src="./../../../../assets/download (1).jpeg" alt="">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="image-container1">

                    <img class="image-hight" src="./../../../../assets/fb-img-1594306969836.jpg" alt="">
                </div>

            </ng-template>
            <ng-template carouselSlide>
                <div class="image-container1">

                    <img class="image-hight" src="./../../../../assets/Screenshot from 2021-08-08 12-00-34.png" alt="">
                </div>

            </ng-template>
            <ng-template carouselSlide>
                <div class="image-container1">

                    <img class="image-hight" src="./../../../../assets/Screenshot from 2021-08-08 12-00-34.png" alt="">
                </div>

            </ng-template>
            <ng-template carouselSlide>
                <div class="image-container1">

                    <img class="image-hight" src="./../../../../assets/download.jpeg" alt="">
                </div>

            </ng-template>
        </owl-carousel-o>
    </div>


</div>