<div class="container-fluid">

    <div class="row">
        <div class="col  m-2">
            <img src="./../../../../assets/Screenshot_2022-04-25_225216.jpg" class="img-fluid img-big" alt="">
        </div>
        <div class="col-lg-3 col-md-auto  middle-container m-2 ">


            <div class="d-flex align-items-center row-small-image">
                <div class="flex-shrink-0">
                    <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                </div>
                <div class="flex-grow-1 ms-3 description">
                    This is some content from a media component. You can replace this with any content and adjust it as
                    needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                </div>
            </div>
            <div class="d-flex align-items-center row-small-image">
                <div class="flex-shrink-0">
                    <img class="img-small" src="./../../../../assets/fb-img-1594306969836.jpg" alt="...">
                </div>
                <div class="flex-grow-1 ms-3 description">
                    This is some content from a media component. You can replace this with any content and adjust it as
                    needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                </div>
            </div>
            <div class="d-flex align-items-center row-small-image">
                <div class="flex-shrink-0">
                    <img class="img-small" src="./../../../../assets/Screenshot from 2021-08-08 12-00-34.png" alt="...">
                </div>
                <div class="flex-grow-1 ms-3 description">
                    This is some content from a media component. You can replace this with any content and adjust it as
                    needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                </div>
            </div>
            <div class="d-flex align-items-center row-small-image">
                <div class="flex-shrink-0">
                    <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                </div>
                <div class="flex-grow-1 ms-3 description">
                    This is some content from a media component. You can replace this with any content and adjust it as
                    needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                </div>
            </div>




            <div class="d-grid gap-2">
                <button class="btn btn-warning mt-3" type="button">Show More!</button>
            </div>

        </div>
        <div class="col col-lg-3  m-2">
            <div class="row bg-info myrow">
                ads1
            </div>
            <div class="row bg-warning myrow">
                ads2
            </div>
            <div class="row bg-primary myrow">
                ads3
            </div>

        </div>
    </div>

</div>
<div class="col bg-primary" style="border:2px solid dark; height: 100px;">
    ADs3
</div>




<div class="container-fluid">
    <h1 class="bg-danger text-white" style="  padding-left: 10px; margin:10px; height: 50px; border-radius: 10px;">
        Latest NEWS
    </h1>

    <owl-carousel-o [options]="customOptions">

        <ng-template carouselSlide>
            <div class="image-container1">

                <img class="image-hight" src="./../../../../assets/download (1).jpeg" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="image-container1">

                <img class="image-hight" src="./../../../../assets/fb-img-1594306969836.jpg" alt="">
            </div>

        </ng-template>
        <ng-template carouselSlide>
            <div class="image-container1">

                <img class="image-hight" src="./../../../../assets/Screenshot from 2021-08-08 12-00-34.png" alt="">
            </div>

        </ng-template>
        <ng-template carouselSlide>
            <div class="image-container1">

                <img class="image-hight" src="./../../../../assets/Screenshot from 2021-08-08 12-00-34.png" alt="">
            </div>

        </ng-template>
        <ng-template carouselSlide>
            <div class="image-container1">

                <img class="image-hight" src="./../../../../assets/download.jpeg" alt="">
            </div>

        </ng-template>
    </owl-carousel-o>
</div>

<!-- politics start -->

<div class="container-fluid">
    <h1 class="bg-danger text-white" style="  padding-left: 10px; margin:10px; height: 50px; border-radius: 10px;">
        POLITICS
    </h1>
    <div class="row">
        <div class="col-lg-4 col-md-auto  middle-container m-2 ">

            <div class="d-flex align-items-center row-small-image">
                <div class="flex-shrink-0">
                    <img class="img-small" src="./../../../../assets/balen-shah-mayor.jpg" alt="...">
                </div>
                <div class="flex-grow-1 ms-3 description">
                    This is some content from a media component. You can replace this with any content and adjust it as
                    needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                </div>
            </div>
            <div class="d-flex align-items-center row-small-image">
                <div class="flex-shrink-0">
                    <img class="img-small" src="./../../../../assets/FLuqRtTVgAgWX67.jpg" alt="...">
                </div>
                <div class="flex-grow-1 ms-3 description">
                    This is some content from a media component. You can replace this with any content and adjust it as
                    needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                </div>
            </div>
            <div class="d-flex align-items-center row-small-image">
                <div class="flex-shrink-0">
                    <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                </div>
                <div class="flex-grow-1 ms-3 description">
                    This is some content from a media component. You can replace this with any content and adjust it as
                    needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                </div>
            </div>
            <div class="d-flex align-items-center row-small-image">
                <div class="flex-shrink-0">
                    <img class="img-small" src="./../../../../assets/Screenshot_2022-04-25_225216.jpg" alt="...">
                </div>
                <div class="flex-grow-1 ms-3 description">
                    This is some content from a media component. You can replace this with any content and adjust it as
                    needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                </div>
            </div>
            <div class="d-flex align-items-center row-small-image">
                <div class="flex-shrink-0">
                    <img class="img-small" src="./../../../../assets/download.jpeg" alt="...">
                </div>
                <div class="flex-grow-1 ms-3 description">
                    This is some content from a media component. You can replace this with any content and adjust it as
                    needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                </div>
            </div>

        </div>

        <div class="col-lg-4 col-md-auto  middle-container m-2 ">

            <div class="d-flex align-items-center row-small-image">
                <div class="flex-shrink-0">
                    <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                </div>
                <div class="flex-grow-1 ms-3 description">
                    This is some content from a media component. You can replace this with any content and adjust it as
                    needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                </div>
            </div>
            <div class="d-flex align-items-center row-small-image">
                <div class="flex-shrink-0">
                    <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                </div>
                <div class="flex-grow-1 ms-3 description">
                    This is some content from a media component. You can replace this with any content and adjust it as
                    needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                </div>
            </div>
            <div class="d-flex align-items-center row-small-image">
                <div class="flex-shrink-0">
                    <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                </div>
                <div class="flex-grow-1 ms-3 description">
                    This is some content from a media component. You can replace this with any content and adjust it as
                    needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                </div>
            </div>
            <div class="d-flex align-items-center row-small-image">
                <div class="flex-shrink-0">
                    <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                </div>
                <div class="flex-grow-1 ms-3 description">
                    This is some content from a media component. You can replace this with any content and adjust it as
                    needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                </div>
            </div>
            <div class="d-flex align-items-center row-small-image">
                <div class="flex-shrink-0">
                    <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                </div>
                <div class="flex-grow-1 ms-3 description">
                    This is some content from a media component. You can replace this with any content and adjust it as
                    needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                </div>
            </div>

        </div>

        <div class="col col-lg-3  m-2">
            <div class="row bg-info myrow1">
                ads1
            </div>
            <div class="row bg-warning myrow1">
                ads2
            </div>
            <div class="row bg-primary myrow1">
                ads3
            </div>

        </div>
    </div>

    <!-- politics end -->

    <div class="col bg-primary" style="border:2px solid dark; height: 100px;">
        ADs3
    </div>
    <!-- entertainment start -->

    <div class="container-fluid">
        <h1 class="bg-danger text-white" style="  padding-left: 10px; margin:10px; height: 50px; border-radius: 10px;">
            ENTERTAINMENT
        </h1>

        <div class="row">
            <div class="col  m-2">
                <img src="./../../../../assets/Screenshot from 2021-08-08 12-00-34.png" class="img-fluid img-big"
                    alt="">
            </div>
            <div class="col-lg-3 col-md-auto  middle-container m-2 ">


                <div class="d-flex align-items-center row-small-image">
                    <div class="flex-shrink-0">
                        <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3 description">
                        This is some content from a media component. You can replace this with any content and adjust it
                        as
                        needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                    </div>
                </div>
                <div class="d-flex align-items-center row-small-image">
                    <div class="flex-shrink-0">
                        <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3 description">
                        This is some content from a media component. You can replace this with any content and adjust it
                        as
                        needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                    </div>
                </div>
                <div class="d-flex align-items-center row-small-image">
                    <div class="flex-shrink-0">
                        <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3 description">
                        This is some content from a media component. You can replace this with any content and adjust it
                        as
                        needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                    </div>
                </div>
                <div class="d-flex align-items-center row-small-image">
                    <div class="flex-shrink-0">
                        <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3 description">
                        This is some content from a media component. You can replace this with any content and adjust it
                        as
                        needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                    </div>
                </div>




                <div class="d-grid gap-2">
                    <button class="btn btn-warning mt-3" type="button">Show More!</button>
                </div>

            </div>
            <div class="col col-lg-3  m-2">
                <div class="row bg-info myrow">
                    ads1
                </div>
                <div class="row bg-warning myrow">
                    ads2
                </div>
                <div class="row bg-primary myrow">
                    ads3
                </div>

            </div>
        </div>

    </div>
    <!-- entertainment start -->




    <!-- Business start -->

    <div class="container-fluid">
        <h1 class="bg-danger text-white" style="  padding-left: 10px; margin:10px; height: 50px; border-radius: 10px;">
            BUSINESS
        </h1>
        <div class="row">
            <div class="col-lg-4 col-md-auto  middle-container m-2 ">

                <div class="d-flex align-items-center row-small-image">
                    <div class="flex-shrink-0">
                        <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3 description">
                        This is some content from a media component. You can replace this with any content and adjust it
                        as
                        needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                    </div>
                </div>
                <div class="d-flex align-items-center row-small-image">
                    <div class="flex-shrink-0">
                        <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3 description">
                        This is some content from a media component. You can replace this with any content and adjust it
                        as
                        needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                    </div>
                </div>
                <div class="d-flex align-items-center row-small-image">
                    <div class="flex-shrink-0">
                        <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3 description">
                        This is some content from a media component. You can replace this with any content and adjust it
                        as
                        needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                    </div>
                </div>
                <div class="d-flex align-items-center row-small-image">
                    <div class="flex-shrink-0">
                        <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3 description">
                        This is some content from a media component. You can replace this with any content and adjust it
                        as
                        needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                    </div>
                </div>
                <div class="d-flex align-items-center row-small-image">
                    <div class="flex-shrink-0">
                        <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3 description">
                        This is some content from a media component. You can replace this with any content and adjust it
                        as
                        needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                    </div>
                </div>

            </div>

            <div class="col-lg-4 col-md-auto  middle-container m-2 ">

                <div class="d-flex align-items-center row-small-image">
                    <div class="flex-shrink-0">
                        <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3 description">
                        This is some content from a media component. You can replace this with any content and adjust it
                        as
                        needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                    </div>
                </div>
                <div class="d-flex align-items-center row-small-image">
                    <div class="flex-shrink-0">
                        <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3 description">
                        This is some content from a media component. You can replace this with any content and adjust it
                        as
                        needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                    </div>
                </div>
                <div class="d-flex align-items-center row-small-image">
                    <div class="flex-shrink-0">
                        <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3 description">
                        This is some content from a media component. You can replace this with any content and adjust it
                        as
                        needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                    </div>
                </div>
                <div class="d-flex align-items-center row-small-image">
                    <div class="flex-shrink-0">
                        <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3 description">
                        This is some content from a media component. You can replace this with any content and adjust it
                        as
                        needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                    </div>
                </div>
                <div class="d-flex align-items-center row-small-image">
                    <div class="flex-shrink-0">
                        <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3 description">
                        This is some content from a media component. You can replace this with any content and adjust it
                        as
                        needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                    </div>
                </div>

            </div>

            <div class="col col-lg-3  m-2">
                <div class="row bg-info myrow1">
                    ads1
                </div>
                <div class="row bg-warning myrow1">
                    ads2
                </div>
                <div class="row bg-primary myrow1">
                    ads3
                </div>

            </div>
        </div>

        <!-- business end -->
        <div class="col bg-primary" style="border:2px solid dark; height: 100px;">
            ADs3
        </div>





    </div>

    gameNEws
    <div class="container-fluid">
        <h1 class="bg-danger text-white" style="  padding-left: 10px; margin:10px; height: 50px; border-radius: 10px;">
            SPORTS NEWS
        </h1>

        <owl-carousel-o [options]="customOptions">

            <ng-template carouselSlide>
                <div class="image-container1">

                    <img class="image-hight" src="./../../../../assets/fb-img-1594306969836.jpg" alt="">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="image-container1">

                    <img class="image-hight" src="./../../../../assets/balen-shah-mayor.jpg" alt="">
                </div>

            </ng-template>
            <ng-template carouselSlide>
                <div class="image-container1">

                    <img class="image-hight" src="./../../../../assets/FLuqRtTVgAgWX67.jpg" alt="">
                </div>

            </ng-template>
            <ng-template carouselSlide>
                <div class="image-container1">

                    <img class="image-hight" src="./../../../../assets/Screenshot from 2021-08-08 12-00-34.png" alt="">
                </div>

            </ng-template>
            <ng-template carouselSlide>
                <div class="image-container1">

                    <img class="image-hight" src="./../../../../assets/fb-img-1594306969836.jpg" alt="">
                </div>

            </ng-template>
        </owl-carousel-o>
    </div>
    <!-- game end -->




    <div class="container-fluid">
        <h1 class="bg-danger text-white" style="  padding-left: 10px; margin:10px; height: 50px; border-radius: 10px;">
            BUSINESS
        </h1>
        <div class="row">
            <div class="col-lg-3 col-md-auto  middle-container m-2 ">
                <div class="container">
                    <img src="./../../../../assets/fb-img-1594306969836.jpg" class=' image image-fluid' alt="Avatar">
                    <div class="overlay">My Name is John</div>
                </div>

            </div>
            <div class="col-lg-4 col-md-auto  middle-container m-2 ">
                <div class="container">
                    <img src="./../../../../assets/fb-img-1594306969836.jpg" class=' image image-fluid' alt="Avatar">
                    <div class="overlay">My Name is John</div>
                </div>


            </div>



            <!-- <div class="col col-lg-3  m-2">
                <div class="row bg-info myrow1">
                    ads1
                </div>
                <div class="row bg-warning myrow1">
                    ads2
                </div>
                <div class="row bg-primary myrow1">
                    ads3
                </div>

            </div> -->
            <div class="col-lg-3 col-md-auto  middle-container m-2 ">

                <div class="d-flex align-items-center row-small-image">
                    <div class="flex-shrink-0">
                        <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3 description">
                        This is some content from a media component. You can replace this with any content and adjust it
                        as
                        needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                    </div>
                </div>
                <div class="d-flex align-items-center row-small-image">
                    <div class="flex-shrink-0">
                        <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3 description">
                        This is some content from a media component. You can replace this with any content and adjust it
                        as
                        needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                    </div>
                </div>
                <div class="d-flex align-items-center row-small-image">
                    <div class="flex-shrink-0">
                        <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3 description">
                        This is some content from a media component. You can replace this with any content and adjust it
                        as
                        needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                    </div>
                </div>
                <div class="d-flex align-items-center row-small-image">
                    <div class="flex-shrink-0">
                        <img class="img-small" src="./../../../../assets/logo/final.png" alt="...">
                    </div>
                    <div class="flex-grow-1 ms-3 description">
                        This is some content from a media component. You can replace this with any content and adjust it
                        as
                        needed.skdfhksdhfkshdfkhskdfhksdfhskdhfk,sadfksdhfksdkfh
                    </div>
                </div>


            </div>
        </div>