<div class="container mx-auto p-2">
    <table class="table">
        <!-- <thead class="thead-light"> -->
        <thead class="thead-light " style="background-color: 	rgb(211,211,211);">

            <tr>
                <th scope="col" class="p-3">Name</th>
                <th scope="col" class="p-3">Email</th>
                <th scope="col" class="p-3">UserName</th>
                <th scope="col" class="p-3">PhoneNumber</th>
                <th scope="col" class="p-3">Action</th>

            </tr>
        </thead>
        <tr *ngFor="let user of allUser">
            <td class="p-3">{{user.name}}</td>
            <td class="p-3">{{user.email}}</td>
            <td class="p-3">{{user.username}}</td>
            <td class="p-3">{{user.phoneNumber}}</td>
            <!-- <button type="button" class="btn btn-warning m-2" routerLink='/admin/edit/us/{{user._id}}'>
                <i class='far fa-edit' ></i>
            </button> -->
            <button type="button" class="btn btn-danger" (click)="deleteUser(user)">
                <i class='fas fa-trash'></i>
            </button>

        </tr>
    </table>
</div>