<div class="container-fluid">
    <div class="row align-items-start">
        <div class="col-lg-2 m-1">
            <img src="../../../../assets/logo/final.png" alt="" style="height: 100px; width:100px">
        </div>
        <div class="col-lg-9 bg-primary m-2" style="border: 2px solid black">
            <div style="height: 100px; width: 300px;">
                ADD BOX
            </div>

        </div>

    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <div class="container-fluid">
        <a class="navbar-brand active text-white" style="font-size: 25px; font-weight: 500;" href="#">NEWS</a>
        <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item" style="font-size: 18px;">
                    <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarScrollingDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 18px;">
                        Categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="#">Politics</a></li>
                        <li><a class="dropdown-item" href="#">Business</a></li>
                        <li><a class="dropdown-item" href="#">Travels</a></li>
                        <li><a class="dropdown-item" href="#">International</a></li>
                        <li><a class="dropdown-item" href="#">Entertainment</a></li>
                        <!-- <li>
                            <hr class="dropdown-divider">
                        </li> -->

                    </ul>
                </li>

            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search"
                    style="border-radius: 10px;">
                <button class="btn bg-white" type="submit" style="border-radius: 10px;"><i class="fa fa-search"
                        style="color:red"></i></button>
            </form>
        </div>
    </div>
</nav>