<nav class="navbar">
    <h1> POLITICS</h1>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-8">

            <div class="container cardContainer" *ngFor="let politic of politics | 
            paginate: {
                itemsPerPage: tableSize, 
                currentPage: page,
                totalItems: count
            } let i = index">

                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-sm-5">
                            <img class="card-img" src="../../../../assets/download (1).jpeg" style="height: 300px;"
                                alt="Suresh Dasari Card">
                        </div>
                        <div class="col-sm-7">
                            <a [routerLink]="['/user/politics/sub']">
                                <h2 class="card-title title">
                                    <b>
                                        {{politic.title}}
                                    </b>
                                </h2>
                            </a>
                            <p class="card-text description">{{politic.description}}</p>

                            <div class="card-body">

                                <h2 class="card-title" style="height: 30%;">
                                    <b>

                                    </b>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- pagination -->
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
            </pagination-controls>
        </div>

        <div class="col-sm-4 relatedTable">
            <!-- related table -->
            <table class="table table-sm " style="margin-top:3%;">
                <thead>
                    <tr>
                        <th scope="col" style="text-align: center; background-color: orange; ">
                            <h3>
                                Related News
                            </h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-sm-5">
                                <img src="../../../../assets/images/DSC_0529.JPG" class="card-img img-fluid"
                                    alt="Suresh Dasari Card">
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body description">
                                    <a href="">
                                        <b>
                                            <h5>
                                                {{politics[0].title}}
                                            </h5>
                                        </b>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tbody>
                <tbody>
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-sm-5">
                                <img src="../../../../assets/images/DSC_0529.JPG" class="card-img img-fluid"
                                    alt="Suresh Dasari Card">
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body description">
                                    <a href="">
                                        <b>
                                            <h5>
                                                {{international[0].title}}
                                                <!-- {{travel[0].description}} -->
                                            </h5>
                                        </b>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tbody>
                <tbody>
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-sm-5">
                                <img src="../../../../assets/images/DSC_0529.JPG" class="card-img img-fluid"
                                    alt="Suresh Dasari Card">
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body description">
                                    <a href="">
                                        <b>
                                            <h5>
                                                {{travel[0].title}}
                                                <!-- {{travel[0].description}} -->
                                            </h5>
                                        </b>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tbody>
                <tbody>
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-sm-5">
                                <img src="../../../../assets/images/DSC_0529.JPG" class="card-img img-fluid"
                                    alt="Suresh Dasari Card">
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body description">
                                    <a href="">
                                        <b>
                                            <h5>
                                                {{entertainment[0].title}}
                                                <!-- {{travel[0].description}} -->
                                            </h5>
                                        </b>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tbody>
                <tbody>
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-sm-5">
                                <img src="../../../../assets/images/DSC_0529.JPG" class="card-img img-fluid"
                                    alt="Suresh Dasari Card">
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body description">
                                    <a href="">
                                        <b>
                                            <h5>
                                                {{business[0].title}}
                                                <!-- {{travel[0].description}} -->
                                            </h5>
                                        </b>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tbody>
                <tbody>
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-sm-5">
                                <img src="../../../../assets/images/DSC_0529.JPG" class="card-img img-fluid"
                                    alt="Suresh Dasari Card">
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body description">
                                    <a href="">
                                        <b>
                                            <h5>
                                                {{lifeStyle[0].title}}
                                                <!-- {{travel[0].description}} -->
                                            </h5>
                                        </b>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tbody>
            </table>

            <div class="card" style="height: 10%; background-color: green;">
                add space
            </div>
        </div>

    </div>

</div>



<div class="container" *ngIf="viewing">
    <div class="card">
        <div class="row">
            <div class="card-header" style="background-color: orange;">
                <h1 style="text-align: center; color: white;">
                    <!-- The quick brown fox jumps over the lazy dog -->
                    {{politics[0].title}}
                </h1>
            </div>
            <img src="../../../../assets/images/DSC_0529.JPG" class="card-img-top img-fluid" alt="...">
            <div class="col-sm-8">

                <div class="card-body">
                    <h5>
                        {{politics[0].description}}
                        <!-- <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                   -->
                        <!-- The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps
                    over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the
                    lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs The quick brown fox jumps over the lazy dogs -->
                    </h5>
                    <a href="#" class="">Go somewhere</a>
                </div>
            </div>
            <div class="col-sm-4" style="background-color: green;">adds</div>
        </div>
    </div>

</div>